.ms-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 10rem;
}

.ms-section p{
    font-family: "Roboto", sans-serif;
    margin: 2rem 0;
    line-height: 1.7;
    color: #404046;
}

.ms-section h2{
    color: #404040;
    font-size: 36px;
    line-height: 1.2;
}

